#SkillsSec {
    padding-block: 100px;
    background-color: var(--midDark);

    #title {
        text-align: center;
        position: relative;
        margin-top: -5px;
        margin-bottom: 80px;
        z-index: 1;

        


        h4 {
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--yellow);
            position: relative;
            z-index: 10;
            letter-spacing: 1px;

            &::before {
                content: "";
                position: absolute;
                background-color: var(--white);
                border-radius: 1px;
                width: 170px;
                height: 2px;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                content: "";
                position: absolute;
                background-color: var(--yellow);
                width: 70px;
                height: 6px;
                border-radius: 3px;
                bottom: -18px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        h2 {
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 90px;
            font-weight: 700;
            color: var(--yellow);
            opacity: 0.05;
            margin: 0;
            margin-top: -17px;
            width: 100%;


            @media screen and (max-width:650px) {
                font-size: 50px;
            }
        }
    }
}


#content {
    margin-top: 100px;
    
    #rate{
        display: grid;
        grid-template-columns: repeat(5 , minmax(20%, 1fr));
        justify-items: center;

        @media screen and (max-width: 575px) {
            grid-template-columns: repeat(2, minmax(50%, 1fr));
        }

        @media screen and (min-width: 575px) and (max-width: 800px) {
            grid-template-columns: repeat(3, minmax(30%, 1fr));
        }

        @media screen and (min-width: 800px) and (max-width: 992px) {
            grid-template-columns: repeat(4, minmax(25%, 1fr));
        }
    }

   
}

#skill{
    /* flex flex-col items-center justify-center text-white  */

    display: flex ;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    width: 150px;
    height: 150px;
    margin-top: 30px;

    span{
        width: 100%;
        text-align: center;
    }
}





/* ============================= photoshop =================================== */
