#section {
    width: 100%;
    /* height: 100%; */
    /* position: relative; */


    .loader {
        div{
            border-radius: 0 0 20px 20px;
        }
    }

}




/* images fields */
#imgsForm {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.uploadField {
    width: 100%;
    height: 120px;
    background-color: var(--dark);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    position: relative;
    margin-bottom: 20px;

    div {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-color: var(--darker);
        }

        .addIcon {
            width: 100%;
            height: 100%;
            padding: 20px;
            object-fit: cover;
            background-color: var(--darker);
            position: static;
            color: var(--dark);
        }

        .pdfIcon {
            width: 100%;
            height: 100%;
            padding: 20px;
            object-fit: cover;
            background-color: var(--darker);
            position: static;
            color: var(--yellow);
        }
    }

    .uploadIcon {
        position: absolute;
        right: 20px;
        font-size: 40px;
        color: var(--dark);
        background-color: var(--darker);
        border-radius: 50%;
        outline: 2px solid var(--dark);
        transition: 0.4 ease-in-out;

        &:hover {
            background-color: var(--midDark);
        }
    }

    input {
        height: 40px;
        width: 40px;
        background-color: var(--dark);
        border-radius: 20px;
    }

}



.error {
    color: var(--white);
    position: absolute;
    right: 60px;
    top: 32px;
    font-size: 10px;
    background-color: red;
    border-radius: 8px;
    padding: 1px 10px;

}

/* ======================================================================= */

#textForm {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;

    /* .left {
        padding-right: 30px;
        border-right: 1px solid #ffffff36;
    } */
}

.textInputWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.textInput {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    border: 0.1em solid grey;
    border-radius: 2em;
    background-color: transparent;
    color: white;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--dark) inset !important;
        -webkit-text-fill-color: #eee !important;
    }


}

.textInput::placeholder {
    color: grey;
    transition: all 0.3s ease;
}

.textInput:focus {
    border-color: white;
}

.textInput:focus::placeholder {
    color: transparent;
}


.textLabel {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    border-radius: 10px;
}


.textInput:focus+.textLabel,
.textInput:not(:placeholder-shown)+.textLabel {
    top: 0.1em;
    left: 1em;
    font-size: 0.8em;
    color: white;
    background-color: var(--midDark);
    padding: 0 0.5em;
}

.textInput:not(:focus):not(:placeholder-shown)+.textLabel {
    color: grey;
}


.textError {
    color: var(--white);
    position: absolute;
    right: 40px;
    top: -8px;
    font-size: 10px;
    background-color: red;
    border-radius: 8px;
    padding: 1px 10px;

}

/* multi input */
.multiTextWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    color: var(--white);

    label {


        .titles {
            width: 100%;
            /* display: flex;
            flex-wrap: wrap; */
            /* max-height: 200px; */
            padding: 10px 0;
            font-size: 14px;
            position: relative;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }



            button {

                .add {
                    font-size: 30px;
                    color: var(--gray);

                    &:hover {
                        color: var(--darker);
                    }
                }
            }
        }
    }
}


.fonts {
    width: 100%;
    max-height: 500px;
    font-size: 14px;
    position: relative;

    &::-webkit-scrollbar {
        width: 0;
    }



    button {

        .add {
            font-size: 30px;
        }
    }
}



.areaInputWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    textarea {
        height: auto;
        min-height: 200px;

        label {
            top: 20px;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--mainWhite);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--mainGreen);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--mainGreen);
        }
    }

    label {
        top: 30px;
    }
}


.submit {
    width: 200px;
    height: 50px;
    background-color: var(--yellow);
    color: var(--darker);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    position: absolute;
    bottom: 50px;

    &:hover {
        background-color: #9a9e47;
    }
}


.reset {
    width: 200px;
    height: 50px;
    background-color: var(--darker);
    color: var(--white);
    border-radius: 10px;
    position: absolute;
    bottom: 50px;

    transition: 0.5s ease-in-out;

    &:hover {
        background-color: #181817;
    }
}


/* ========================================================= */
/* radioooo */

.radio_button_container {
    display: flex;
    align-items: center;
    gap: 24px;position: relative;
    margin-top: 30px;
  }
  
  .radio_button {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .radio_button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio_button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
  
  .radio_button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
  }
  
  .radio_button__input:checked + .radio_button__label .radio_button__custom {
    background-color: var(--yellow);
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px var(--yellow);
  }
  
  .radio_button__input:checked + .radio_button__label {
    color: var(--yellow);
  }
  
  .radio_button__label:hover .radio_button__custom {
    transform: scale(1.2);
    border-color: var(--yellow);
    box-shadow: 0 0 20px var(--yellow);
  }
  
  
  
  