/* #content {
    background-color: var(--midDark);
    color: var(--white);
    font-weight: 500;

    div {
        border-color: var(--yellow) ;

        #numbers {

            color: var(--yellow);
        }
    }

    
} */

section {
    background-color: var(--midDark);
    padding: 20px 20px 20px 20px;
    

    .line{
        height: 5px;
        width: 100%;
        background-color: var(--yellow);
        position: absolute;
        bottom: -20px;
    }
}

#statistics_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media screen and (max-width:767px){
        flex-direction: column;
    }
    


    .statistic {
        display: flex;
        align-items: center;

        @media screen and (max-width:767px){
            flex-direction: column;
        }

        :nth-child(1) {
            color: var(--yellow);
            font-family: "Poppins", Sans-serif;
            font-size: 65px;
            font-weight: 600;
            width: 110px;

            @media screen and (min-width:768px) and (max-width:1024px){
                font-size: 50px;
                width: 90px;
            }
            @media screen and (max-width:767px){
                font-size: 50px;
                width: auto;
            }
        }

        :nth-child(2) {
            margin-left: 30px;
           width: 120px;
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
            color: #FFFFFF;
            @media screen and (min-width:768px) and (max-width:1024px){
                font-size: 18px;
                margin-left: 20px;
                width: 90px;
            }
            @media screen and (max-width:767px){
                font-size: 18px;
                margin: 0;
                width: auto;
            }
        }
    }

}





/* .statistic
.value
.label */